html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  @extend %rubik-500;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}


main {
  flex-grow: 1;
}

.title {
  font-size: 36px;
  @extend %dmsans-700;
  text-align: center;
  margin-bottom: 30px;
}

.filter-btn__box {
  text-align: center;
  margin-bottom: 80px;
}

.filter__btn,
.filter__btn-two {
  font-size: 16px;
  @extend %dmsans-700;
  color: #8b8b8b;
}
.filter__btn + .filter__btn {
  margin-left: 30px;
}

.title-products {
  @extend %dmsans-500;
  color: #243f4d;
  margin-bottom: 15px;
}

.price {
  @extend %dmsans-700;
  color: #a3bbc8;
}

.weeks-products__wrapper,
.new-design__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
}

.weeks-products__wrapper {
  grid-template-columns: repeat(4, 1fr);
}
.shop-products__wrapper {
  grid-template-columns: repeat(3, 1fr);
} 

.filter-title {
  display: inline-block;
  font-size: 18px;
  color: #243f4d;
  @extend %dmsans-700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  &:before {
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: #a3bbc8;
    top: 10px;
    right: -60px;
  }
}

