.header {
  padding: 45px 0;
  @extend %rubik-500;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  // margin-right: 485px;
  font-size: 26px;
  line-height: 58px;
  color: #436372;
  &__img {
    padding-right: 10px;
  }
}

.menu {
  // margin-right: 335px;
  &__list {
    display: flex;
  }
  &__list-link {
    color: #234969;
  }
  &__list-item + .menu__list-item {
    margin-left: 35px;
  }
  &__btn {
    display: none;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__bg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__search {
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__heart {
    position: relative;
    // padding-right: 50px;
  }
  &__cart {
    position: relative;
  }
  &__menu {
    background-color: #a3bbc8;
  }
  &__group-links {
    width: 178px;
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    background-color: #fcd7b6;
    margin-right: 20px;
    font-size: 10px;
  }
  &__border {
    height: 32px;
    border: 1px solid #fde7d3;
  }
  &__num {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #fff;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .menu {
    &__list {
      text-transform: uppercase;
      position: absolute;
      top: 200px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      left: 0;
      z-index: 5;
      transform: translateY(-200%);
      transition: all .3s;
    }
    &__list--active {
      transform: translateY(0%);
      transition: all .3s;
      background-color: #fff;
    }
    &__list-item {
      padding-top: 20px;
    }
    &__list-item +.menu__list-item {
      margin: 0;
    }
    &__btn {
      width: 30px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: none;
      background-color: transparent;
      padding: 0;
      order: 1;
      margin-left: 30px;
      span {
        width: 100%;
        height: 3px;
        background-color: #234969;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: #234969;
      }
      &::before {
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
  }
  .user-nav {
    margin-left: auto;
  }
}


@media (max-width: 600px) {
  .header {
    &__inner {
      flex-wrap: wrap;
    }
  }
  .menu {
    &__btn {
      order: 0;
      margin-left: auto;
    }
  }
  .user-nav {
    width: 100%;
    margin-top: 30px;
    justify-content: flex-end;
  }
}



@media (max-width: 350px) {
  .user-nav{
    &__group-links,
    &__search {
      margin-right: 5px;
    }
  }
}
