<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/about.min.css" />
    <title>Glee</title>
  </head>
  <body>

    {% include 'app/module/_header/_header.html' %}


    <main class="main">
      
    {% include 'app/module/_top/_top.html' %}





      <section class="about">
        <!-- <div class="about__container"> -->
          <div class="about-mission about__container">
          <img class="about-mission__img" src="images/about/bg.jpg" alt="about image">
          <div class="about-mission__content">
            <div class="about-mission__content-title">
              <p class="about-mission__years">
                12
              </p>
              <div class="about-mission__exp">
                <span>
                  Years
                </span>
                <span>
                  Experience
                </span>
                <span>
                  Working
                </span>
              </div>
            </div>
            <div class="about-mission__title">
              Mission of our creative house
            </div>
            <p class="about-mission__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            </p>
            <div class="about-mission__info">
              <div class="about-mission__info-item ">
                <img class="about-mission__info-img" src="images/icons/note.svg" alt="">
                <div class="about-mission__info-box">
                  <div class="about-mission__info-amount">
                   520+
                  </div>
                  <div class="about-mission__info-text">
                    Projects
                  </div>
                </div>
              </div>
              <div class="about-mission__info-item ">
                <img class="about-mission__info-img" src="images/icons/rupor.svg" alt="">
                <div class="about-mission__info-box">
                  <div class="about-mission__info-amount">
                   $4M
                  </div>
                  <div class="about-mission__info-text">
                    Revenue
                  </div>
                </div>
              </div>
              <div class="about-mission__info-item ">
                <img class="about-mission__info-img" src="images/icons/medal.svg" alt="">
                <div class="about-mission__info-box">
                  <div class="about-mission__info-amount">
                   250
                  </div>
                  <div class="about-mission__info-text">
                    Awards
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>


          <div class="about-stat">
            <div class="about-stat__items about__container">
              <div class="about-stat__item ">
                <img src="images/icons/stat.svg" alt="" class="about-stat__item-img">
                <p class="about-stat__item-percent">
                  99%
                </p>
                <p class="about-stat__item-text">
                  Satisﬁed Clients Rate
                </p>
              </div>
              <div class="about-stat__item">
                <img src="images/icons/vehicle.svg" alt="" class="about-stat__item-img">
                <p class="about-stat__item-percent">
                5020+
              </p>
              <p class="about-stat__item-text">
                Products Delivered
              </p>
            </div>
            <div class="about-stat__item">
              <img src="images/icons/tel.svg" alt="" class="about-stat__item-img">
              <p class="about-stat__item-percent">
                23hr
              </p>
              <p class="about-stat__item-text">
                Daily Working Time
              </p>
            </div>
            <div class="about-stat__item">
              <img src="images/icons/aware.svg" alt="" class="about-stat__item-img">
              <p class="about-stat__item-percent">
                140+
              </p>
              <p class="about-stat__item-text">
                Brands in Store
              </p>
            </div>
            
           </div>
          </div>
          
          
          <div class="about-team about__container">
            <div class="about-team__inner">
              <div class="about-team__info">
                <h4 class="about-team__info-title">Our Team</h4>
                <p class="about-team__info-text">
                  Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <a class="about-team__info-btn" href="#">
                  Join With US
                  <span>→</span>
                </a>
              </div>
              <div class="about-team__cards">
                <div class="about-team__card">
                  <img class="about-team__card-img" src="images/about/team/card1.jpg" alt="image card">
                  <div class="about-team__card-box">
                    <div class="about-team__info-box">
                      <p class="about-team__card-name">
                        Eliza Elliot
                      </p>
                      <p class="about-team__card-position">
                        Commodo tempor 
                      </p>
                    </div>
                    <div class="about-team__info-links">
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/insta.svg" alt="">
                      </a>
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/google.svg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="about-team__card">
                  <img class="about-team__card-img" src="images/about/team/card2.jpg" alt="image card">
                  <div class="about-team__card-box">
                    <div class="about-team__info-box">
                      <p class="about-team__card-name">
                        Eliza Elliot
                      </p>
                      <p class="about-team__card-position">
                        Commodo tempor 
                      </p>
                    </div>
                    <div class="about-team__info-links">
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/insta.svg" alt="">
                      </a>
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/google.svg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="about-team__card">
                  <img class="about-team__card-img" src="images/about/team/card3.jpg" alt="image card">
                  <div class="about-team__card-box">
                    <div class="about-team__info-box">
                      <p class="about-team__card-name">
                        Eliza Elliot
                      </p>
                      <p class="about-team__card-position">
                        Commodo tempor 
                      </p>
                    </div>
                    <div class="about-team__info-links">
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/insta.svg" alt="">
                      </a>
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/google.svg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="about-team__card">
                  <img class="about-team__card-img" src="images/about/team/card4.jpg" alt="image card">
                  <div class="about-team__card-box">
                    <div class="about-team__info-box">
                      <p class="about-team__card-name">
                        Eliza Elliot
                      </p>
                      <p class="about-team__card-position">
                        Commodo tempor 
                      </p>
                    </div>
                    <div class="about-team__info-links">
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/insta.svg" alt="">
                      </a>
                      <a class="about-team__info-link" href="#">
                        <img class="about-team__info-img" src="images/icons/google.svg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- </div> -->
      </section>




      

      <section class="news">
        <div class="container">

          <div class="news__top">
            <h3 class="title">
              Our Insights & Articles
            </h3>
            <a class="news__link" href="#">
              View All
            </a>
          </div>
          <div class="news__items">
            <div class="news__item">
              <a class="news__item-imglink" href="#">
                <img class="news__item-img" src="images/news/1.jpg" alt="news image">
              </a>
              
              <div class="news__item-box">
                <a class="news__item-titlelink" href="#">
                  <h4 class="news__item-title">
                    Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </h4>
                </a>
                <div class="news__item-info">
                  <a class="news__item-date" href="#">
                    28 JANUARY, 2020
                  </a>
                  <a class="news__item-author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
            </div>
            <div class="news__item">
              <a class="news__item-imglink" href="#">
                <img class="news__item-img" src="images/news/2.jpg" alt="news image">
              </a>

              <div class="news__item-box">
                <a class="news__item-titlelink" href="#">
                  <h4 class="news__item-title">
                    Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                  </h4>
                </a>
                <div class="news__item-info">
                  <a class="news__item-date" href="#">
                    28 JANUARY, 2020
                  </a>
                  <a class="news__item-author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
            </div>
            <div class="news__item">
              <a class="news__item-imglink" href="#">
                <img class="news__item-img" src="images/news/3.jpg" alt="news image">
              </a>
              <div class="news__item-box">
                <a class="news__item-titlelink" href="#">
                  <h4 class="news__item-title">
                    Rncididunt ut labore et dolore magna aliqua. Ut enim 
                  </h4>
                </a>
                <div class="news__item-info">
                  <a class="news__item-date" href="#">
                    28 JANUARY, 2020
                  </a>
                  <a class="news__item-author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="partners">
        <div class="partners__container">
          <ul class="partners__list">
            <li class="partners__list-item">
              <a class="partners__list-link" href="#">
                <img src="images/partners/1.png" alt="" class="partners__list-img">
              </a>
            </li>
            <li class="partners__list-item">
              <a class="partners__list-link" href="#">
                <img src="images/partners/2.png" alt="" class="partners__list-img">
              </a>
            </li>
            <li class="partners__list-item">
              <a class="partners__list-link" href="#">
                <img src="images/partners/3.png" alt="" class="partners__list-img">
              </a>
            </li>
            <li class="partners__list-item">
              <a class="partners__list-link" href="#">
                <img src="images/partners/4.png" alt="" class="partners__list-img">
              </a>
            </li>
            <li class="partners__list-item">
              <a class="partners__list-link" href="#">
                <img src="images/partners/5.png" alt="" class="partners__list-img">
              </a>
            </li>
          </ul>
        </div>
      </div>

        
    </main>


    {% include 'app/module/_footer/_footer.html' %}


    <script src="js/main.min.js"></script>
  </body>
</html>
