.popup {
  max-width: 1899px;
  height: 500px;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1200px) {
  .popup {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .popup {
    height: 250px;
  }
}