.top-slider {
  &__container {
    max-width: 1770px;
    padding-bottom: 40px;
    padding-left: 300px;
    padding-right: 173px;
    background-color: #fcd7b6;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 642px;
      height: 265px;
      top: 273px;
      right: 110px;
      background-image: url("../images/slider/top-slider-sofa.png");
    }
  }
  &__content {
    width: 417px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__title {
    padding-top: 210px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 335px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__img {
    padding-top: 96px;
  }
  &__btn {
    @extend %rubik-500;
    max-width: 200px;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    padding: 20px 100px 23px 25px;
    background-color: #a3bbc8;
    display: inline-block;
    position: relative;
    &::after {
      content: "→";
      position: absolute;
      top: 20px;
      right: 18px;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    button {
      border: none;
      padding: 0;
      height: 29px;
      width: 29px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.4;
      margin-right: 12px;
    }
    &.slick-active button {
      opacity: 1;
    }
  }
}

.bottom-slider {
  &__container {
    background-color: #fef7f0;
    max-width: 1770px;
  }
  &__inner {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  &__content {
    margin-left: 30px;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 43px;
      left: -44px;
      background-image: url("../images/icons/bottom-slider-circle.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    width: 220px;
    color: #585858;
    span {
      display: block;
    }
  }
}